body{
	background: rgb(169, 204, 169);
	background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#first{
	border-radius: 10px;
	padding: 10px;
	border: none;
}
#set{
	background-color: blue;
	padding: 10px; 
	border-radius: 10px;
}
#title{
	background-color: beige;
	color: brown;
	font-size: large;
	border: 2px double rgb(226, 25, 25);
	padding: 10px;
	border-radius: 10px;

}
#center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}